body {
    background-color: #F8FBFE;
}


#container{
    display: flex;
    position: relative;
    top: 200px;
}

.localvideo {
    float: right;
    position: fixed;
}

.verse{
    padding: 3px;
}

#sefariaText{
    
    margin: 20px;
    padding: 5px;
}

.localvideo video {
    
    right: -130px;
    float: right;
    padding: 20px;
    max-height: 150px;
}
.remotevideos {
    width: 100%;    
}

#roomInfo{
    position: relative;
    top: 200px;
}

#allVideos{
    position: fixed;
    margin: 0px;
    padding: 0px;   
    top: 0px;
    width: 100%;
    height: 200px;
    background:#2966B8;
    z-index: 10;
}

.remotevideos video{
    position: fixed;
    max-height: 180px;
    margin: 10px;
    float:left;
}

#chatbox{
    margin:10px;
    margin-left: 30px;
    background-color: #8EB4E6;
    padding: 10px;
}

#immediate{
    display: none;
}

#roomInfo{
    font-size: 1.5em;
    color: #111;
}

a{
    text-decoration: none;
    color: #111;
}

a:hover{
    color:#666;
}