body{
	text-decoration: none;
	text-align: center;
	background:#2966B8;
	background-image: url('talmud02.jpg');
	background-size: 100%;
	width: 100%;
}
a{
	text-decoration: none;
	padding: 20px;
	margin-top: 25px;
	color:#111;
	font-size: 3.5em;
}
a:hover{
	color: #99b;
}
h2{
	font-size: 4em;
	font-family: Impact, Charcoal, sans-serif;
	padding: 20px;
	margin: 5px;
}
#roomContainer{
	background-color: rgba(100,100,100,.2);
	text-align: center;
	float: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* override css for mobile browsers */
@media all and (max-width:600px) {
	body{
		background-color: yellow;
	}
	a{
		font-size: 4em;
	}
	h2{
		font-size: 4em;
	}	
}